body  {

		background-color:darkred;
		}
h1 {
		color: navajowhite;
		font-family: times new romam;
		background: maroon;
		width:97%;
		text-align: justify;
		height: 83px;
	}
p{
	background:black;
	height: 101px;
	color: royalblue;
	font-size: 43px;

}

#importante{

	background-color: aquamarine;
	color: hotpink;
	height:90px;
	font-size: 67px;
}

.texto{
	background-color: white;
	height:90px;
	color: lime;
	font-size: 50px;
}