body{

    background-image: url("imagens/velhooeste.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}
table{
    color: lightskyblue;
    font-weight: 800;
    font-size: xx-large;

}
border{

}
